In [1]:
import psycopg2

In [2]:
con = psycopg2.connect(
    database = "school_info",
    user = "postgres",
    password = "somepassword",
    host = "localhost",
    port = "5432"
)

In [3]:
cursor = con.cursor()

In [4]:
cursor.execute("SELECT * from coordinators")

In [5]:
result = cursor.fetchall()

In [6]:
result

[('Data Engineering', 'Pascual Icíar'),
 ('Robotics', 'Jerónimo Micaela'),
 ('Embedded Systems', 'Alma Irma'),
 ('Cybersecurity', 'José Ángel Anastacia')]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(result)

In [9]:
df

                  0                     1
0  Data Engineering         Pascual Icíar
1          Robotics      Jerónimo Micaela
2  Embedded Systems             Alma Irma
3     Cybersecurity  José Ángel Anastacia

In [10]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://localhost/school_info?user=postgres&password=somepassword')

In [13]:
alconnection = engine.connect()

In [14]:
df1 = pd.read_sql("select * from \"coordinators\"", alconnection)

In [15]:
df1

             career           coordinator
0  Data Engineering         Pascual Icíar
1          Robotics      Jerónimo Micaela
2  Embedded Systems             Alma Irma
3     Cybersecurity  José Ángel Anastacia

In [16]:
alconnection.close()

In [17]:
df1.to_csv("psqltable.csv")